/* styles.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header-top,
.header-body,
.header-links,
.info-images,
.links,
.signup {
  display: flex;
}

.header,
.hero,
.info,
.quote {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #3882F6;
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px 30px;
  border-radius: 5px;
}


/* Header Section */

.header {
  background-color: #1F2937;
  padding: 0 150px;
}

.header-top {
  justify-content: space-between;
  margin-top: 10px;
  gap: 50px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links {
  list-style: none;
  justify-content: space-between;
  gap: 20px;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.header-body {
  display: flex;
  padding: 100px 0;
  justify-content: space-between;
  gap: 30px;
}

.hero {
  justify-content: center;
  align-items: flex-start;
  flex: 0 1 440px;
  min-width: 300px;
  gap: 10px;
}

.header img {
  width: 200px;
  max-width: 300px;
  align-self: center;
  flex: 1;
}

.hero-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-subtext {
  color: #E5E7EB;
}

/* Information Section */

.info-header {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  margin: 30px 0;
}

.info-images {
  justify-content: center;
  gap: 30px;
  margin: 0 100px;
  margin-bottom: 50px;
}

.info-images .image {
  flex: 0 1 150px;
}

.info-images img {
  max-width: 150px;
}

/* Quote Section */

.quote {
  background-color: #E5E7EB;
}

.quote-text {
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
}

/* Call to Action Section */

.signup {
  background-color: #3882F6;
  color: white;
}

.signup .button {
  border: 2px solid white;
}

/* Footer */

.footer {
  background-color: #1F2937;
  color: white;
}