/* styles.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header,
.hero,
.info,
.quote {
  display: flex;
  flex-direction: column;
}

.header-top,
.info-images,
.links,
.signup {
  display: flex;
}

.header {
  background-color: #1F2937;
  padding: 0 150px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header .links {
  list-style: none;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.header-body {
  display: flex;
}

.hero-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-subtext {
  color: #E5E7EB;
}

.info-images img {
  width: 100px;
}

.quote {
  background-color: #E5E7EB;
}

.quote-text {
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
}

.signup {
  background-color: #3882F6;
  color: white;
}

.button {
  background-color: #3882F6;
  color: white;
}

.footer {
  background-color: #1F2937;
  color: white;
}